<div id="edit-user">

<%= form_for :user, :url => { :action => "save_edit" }, :html => { :multipart => true } do |form| %>
	Alias: <br/>
	<%= form.text_field "alias", :value => @user.alias %><br />
	Lösenord: <br />
	<%= form.password_field "password", :value => @user.password %> <br />
	Skapelsedatum: <br />
	<%= form.text_field "date", :value => @user.date %><br />
	EmmEssEnn: <br />
	<%= form.text_field "msn", :value => @user.msn %><br />
	Elektronisk Post: <br />
	<%= form.text_field "email", :value => @user.email %> <br />
	Beskrivning: <br />
	<%= form.text_area "description", :value => @user.description %><br/>
	
	Bild: <br />
	<%= image_tag @user.photo.url %> <br />
	<%= form.file_field :photo %> <br />
	
	<% if session[:user].privileges > 1 %>
	 Privs: <br />
	 <%= form.text_field "privileges", :value => @user.privileges %>
	<%end%>
	
	<%= form.hidden_field "id", :value => @user.id %>
	
	<%= submit_tag ":D", :class => "btn btn-primary btn-large btn-block" %>
<% end %>

</div>