<img src="/images/titles/users.png" />
<br/>
<span>
	<%= link_to "lägg till! :D", add_path() %>
</span>	
<br/>

<%@users.each do |user| %>
	<div class="userfloat">
		<%= link_to(image_tag("/images/none.png"), user) %>
		<br/>
		<%= link_to user.alias, user %> 
		<%if session[:logged_in]%>
			<% if session[:user] == user%>
				<%= link_to "edit", edit_path(user) %>
			<%elsif session[:user].privileges > 1 %>
				<%= link_to "edit", edit_path(user) %>
			<%end%>
			<br/>
		<%end%>
	</div>
<% end %>	
