<div id="user-content" class="content-background">
<%if !@user.nil? %>

<%if !@user.photo.nil? %>
	<%= image_tag @user.photo.url, :class => "img-polaroid" %>
<%end%>

<h2>
<%= @user.alias%>
</h2>

<span class="title">Skapelsedatum:</span> <span><%= @user.date %></span> <br/>
<span class="title">EmmEssEnn: </span> <span><%= @user.msn%> </span> <br/>
<span class="title">Elektronisk post: </span> <span><%= @user.email%></span> <br/>
<span class="title">Beskrivning: </span> <span><%= raw @user.description%></span> <br/>

<%end%>

</div>