<!DOCTYPE html>
<html>
<head>
  <title>KK</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<div id="content">
			<div id="header"></div>
			<div id="menu">
					<ul>
						<li>
							<a href="/" >Start</a>
						</li>
						<li>
							<a href="/pages/kinkynight" >Kinky Night!</a>
						</li>
						<li>
							<a href="/pages/chronicle" >Könikan</a>
						</li>
						<li>
							<a href="/users/index" >Vilka är vi</a>
						</li>
						<li>
							<a href="/pages/activities" >Aktiviteter</a>
						</li>
						<li>
							<a href="/pages/gallery" >Galleri</a>
						</li>
						<li>
							<a href="/quotes" >Citat</a>
						</li>
						<li>
							<a href="/users/login" >Inloggning</a>
						</li>
					</ul>
				</div>
			
			<div id="leftcontent">
				
			</div>
			<div id="rightcontent">
				<% if flash[:warning] or flash[:notice] %>
				  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
				    <%= flash[:warning] || flash[:notice] %>
				  </div>
				  <script type="text/javascript">
				    setTimeout("new Effect.Fade('notice');", 15000)
				  </script>
				<% end %>
				<%= yield %>
			</div>
			<div id="footer">
				<p>Föllöv ze veit rabbit!</p>
			</div>
		</div>
	</div>
</body>
</html>
